body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;

}

#first-heading {
    font-size: 38px;
}

.link_button {
    text-decoration: none;
    background-image: linear-gradient(rgb(69, 69, 126), rgb(88, 44, 88));
    padding: 10px 35px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.top-banner {
    text-align: center;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 480px;
    width: 100%;

}

.text-part1 {
    padding: 150px;
}

.amount-button {
    text-decoration: none;
    border-radius: 7px;
    color: rgb(92, 87, 87);
    padding: 50px 50px;
    background-color: rgb(222, 217, 217);

}

.change-color {
    color: rgb(92, 87, 87);
}

.button-placement {
    margin-top: 90px;
}

.container {
    text-align: center;
}

#color {
    color: rgb(164, 36, 164);
    border-style: solid;
    border-color: rgb(164, 36, 164);
}

.formbox {

    border-bottom: 1px solid rgb(92, 87, 87);
    width: 30%;
    padding-top: 100px;
    text-align: center;

}

.formbox input {
    border: none;
    outline: none;
}

.amount-form {
    margin-left: 42%;
}

.donate-button {
    padding-top: 30px;
    padding-right: 630px;
}

.text-part3 {
    text-align: center;
    padding-top: 60px;
}

.flexible-container {
    display: flex;
}

.one-3rd-width {
    width: 33.3%;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

#resize-icon {
    height: 60px;
    padding-bottom: 5px;
}

#food {
    margin-left: 140px;
    margin-right: 40px;
    background-color: rgb(166, 187, 187);
}

#medicine {
    margin-right: 40px;
    margin-left: 40px;
    background-color: rgb(174, 145, 124);
}

#shelter {
    margin-left: 40px;
    margin-right: 140px;
    background-color: rgb(200, 163, 199);
}

.half-width {
    width: 50%;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 20px;
}

.half-width img {
    width: 85%;
    padding-top: 10%;
}

.horizontal-show {
    display: flex;
}

#half-width-text {
    padding-top: 130px;
}